{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style6 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
}
        .style7 {color: #FFFF00}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF PALCEMENT TYPE !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1012" align="center">
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style4">RID</span></div></td>
                                    <td><input type="text" name="RID"></td>
                                    <td width="215" bgcolor="#FF0000"><div align="center"><span class="style7">Age</span></div></td>
                                    <td width="244"><input type="text" name="Age"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style4">Gender</span></div></td>
                                    <td><select name="Gender">
                                      <option>--Select Gender--</option>
                                      <option>Male</option>
                                      <option>Female</option>
                                    </select>                                    </td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7">Stream</span></div></td>
                                    <td><input type="text" name="Stream"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style4">Internships</span></div></td>
                                    <td><select name="Internships">
                                      <option>---Select---</option>
                                      <option>0</option>
                                      <option>1</option>
                                                                        </select></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7">CGPA</span></div></td>
                                    <td><input type="text" name="Btech_CGPA"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style4">SSLC_Percentage</span></div></td>
                                    <td><input type="text" name="SSLC_Percentage"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7">PUC_Percentage</span></div></td>
                                    <td><input type="text" name="PUC_Percentage"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style4">Hostel</span></div></td>
                                    <td><select name="Hostel">
                                      <option>---Select---</option>
                                      <option>0</option>
                                      <option>1</option>
                                                                        </select></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7">HistoryOfBacklogs</span></div></td>
                                    <td><select name="HistoryOfBacklogs">
                                      <option>---Select---</option>
                                      <option>0</option>
                                      <option>1</option>
                                                                        </select></td>
                                  </tr>
                                  <tr>
                                    <td width="279" height="44" bgcolor="#FF0000"><div align="center"><span class="style4 style2">Enter Salary Here</span></div></td>
                                    <td width="254"><input type="text" name="Salary"></td>
                                    <td colspan="2" bgcolor="#FFFFFF"><span class="style7">
                                      <input name="submit" type="submit" class="style1" value="Predict">
                                    </span></td>
                                  </tr>
  <td><p>&nbsp; </p>
          <p>&nbsp;</p></td>
  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="614" height="68" border="0" align="center" >
                                    <tr><td width="427" bgcolor="#FF0000"><div align="center"><span class="style6">PREDICTED PLACEMENT   TYPE</span> :: </div></td>



                                      <td width="177" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{objs}}</div></td></tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>